@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="container">
    <div class="card" style="width:auto">
        <img class="card-img-top p-1" src="/Images/apex2.jpg" alt="Apex Logo" />
        <br />
        <div class="card-body">
            <h4 class="card-title p-1">Welcome to the Apex Solutions</h4>
            <p class="card-text">
                Welcome to the Admin Portal. Manage products,customers and orders.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt<br />
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <br />
                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure <br />
                dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis <br />
                at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
            </p>
            <!--Need to add the asp controller-->
            <a href="#" class="btn btn-primary">Goto Products</a>
        </div>
    </div>
</div>